<h1><%= t('post_list') %></h1>
<%= link_to 'New', new_post_path %>
<%= link_to 'Export', posts_path(format: :csv, page: params[:page]) %>
<table>
  <thead>
  <tr>
    <td><%= Post.human_attribute_name(:image) %></td>
    <td><%= Post.human_attribute_name(:title) %></td>
    <td><%= Post.human_attribute_name(:content) %></td>
    <td><%= Post.human_attribute_name(:user) %></td>
    <td><%= Post.human_attribute_name(:comment_count) %></td>
    <td><%= Post.human_attribute_name(:category) %></td>
    <td><%= Post.human_attribute_name(:ip_address) %></td>
    <td><%= Post.human_attribute_name(:created_at) %></td>
    <td><%= Post.human_attribute_name(:action) %></td>
  </tr>
  </thead>
  <% @posts.each do |post| %>
    <tr>
      <td><%= image_tag (post.image.url) if post.image.present? %></td>
      <td><%= "[#{post.genre.name}]#{post.title}" %></td>
      <td><%= post.content %></td>
      <td><%= post.user.email %></td>
      <td><%= post.comments_count %></td>
      <td><%= post.categories.pluck(:name).join(',') %></td>
      <td><%= post.ip_address %></td>
      <td><%= post.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
      <td>
        <%= link_to :show, post_path(post) %>
        <%= link_to :edit, edit_post_path(post, page: params[:page]) if policy(post).edit? && policy(post).in_one_week? %>
        <%= button_to 'Delete', post_path(post), method: :delete if policy(post).destroy? %>
        <%= link_to :comments, post_comments_path(post) %>
        <%= link_to 'New Comment', new_post_comment_path(post) %>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate @posts %>



