<table class="table table-striped table-hover">
  <thead>
  <tr>
    <td><%= User.human_attribute_name(:id) %></td>
    <td><%= User.human_attribute_name(:email) %></td>
    <td><%= User.human_attribute_name(:genre) %></td>
  </tr>
  </thead>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= user.genre %></td>
    </tr>
  <% end %>
</table>

<%= paginate @users %>